{% extends 'base.html.twig' %}

{% block body %}
<h2>Détails de la consultation</h2>

<ul class="list-group">
    <li class="list-group-item">
        <strong>Date :</strong> {{ consultation.date|date('d/m/Y H:i') }}
    </li>
    <li class="list-group-item">
        <strong>Patient :</strong> {{ consultation.patient.nom }} {{ consultation.patient.prenom }}
    </li>
    <li class="list-group-item">
        <strong>Médecin :</strong> {{ consultation.medecin.nom }}
    </li>
    <li class="list-group-item">
        <strong>Motif :</strong> {{ consultation.motif }}
    </li>
    <li class="list-group-item">
        <strong>Diagnostic :</strong> {{ consultation.diagnostic }}
    </li>
</ul>

<form method="post" action="{{ path('app_consultation_delete', {id: consultation.id}) }}" class="mt-3">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>

<a href="{{ path('app_consultation_index') }}" class="btn btn-secondary mt-2">Retour</a>
{% endblock %}
